.main-header
	.logo
		img
			width 60%
			
.content-header
	small
		a
			&:hover
				text-decoration underline				
		.active
			text-decoration underline	
			
.legend
	margin 1em 0
	span 
		margin-left 10px
		
.actions
	button
		padding 1px 6px
		background transparent
		&:hover
			background gray
			i
				color white
		i
			font-size 1.4em		
			color #00c0ef
						
			
@media (min-width:640px)
	.main-header
		.logo
			img
				width 35%			

@media (min-width:768px)		
	.main-header
		.logo
			img
				width 100%
				padding 5px		
